* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-image: 
    url(https://images.wallpaperscraft.com/image/single/headphones_laptop_macbook_apple_107920_1280x1024.jpg);
}

#header {
    text-align: center;
    font-size: 50px;
}